/* WHOLE MAP */

/* html body takes up whole screen */
html, body{
  height: 100%;
  width: 100%;
}

/* map occupies entire screen */
#map{
	height:100%;
	width:100%;
	/*bottom:0;*/
}
.geojson-Icon{
  height: 5px;
  width: 5px;
  background-color: #0000ff;
  border-radius: 50%;
  display: inline-block;
}

/* browser adds margin by default, and that adds a scrollbar ... no good */
body {
  margin: 0;
  overflow:hidden;
  overflow-x:hidden;
}

/*#banner{
  height: 5%;
  background-color: #f8c21c;
}
*/

#controls{
  top: 0;
  left: 10px;
}

