/* WHOLE MAP */

/* html body takes up whole screen */
html, body{
  height: 100%;
  width: 100%;
}

/* map occupies entire screen */
#map{
	height:100%;
	width:100%;
	bottom:0;
}

/* browser adds margin by default, and that adds a scrollbar ... no good */
body {
  margin: 0;
  overflow:hidden;
  overflow-x:hidden;
}

#header{
  background-color: #f8c21c;
}

#sidebar{
  position:absolute;
  width: 30%;
  height:70%;
  background-color: #FFFAFA;
  border-style: solid;
  border-width: 5px;
  border-color: #eb001a;
  z-index: 999999;
}

#sidebar-content{
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;
}

#controls{
  top: 0;
  left: 10px;
}